name: Render Playlists

on:
  push:
    branches:
      - main
    paths:
      - 'mixdiscs/*/*.yaml'

jobs:
  render:
    runs-on: ubuntu-latest
    
    steps:
      - name: Setup Python environment
        uses: ./.github/actions/setup-python-env
      
      - name: Render playlists to HTML
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
        run: |
          uv run python app.py render config.yaml --skip-errors
      
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: site_files

  deploy:
    needs: render
    permissions:
      pages: write    
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
